@charset "UTF-8";

.container-contato {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-inline: 30px;
}

.container-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 40px;
    border-radius: 35px;
    border: 2px solid #03a7b9;
    background-color: #212224;
}

.container-form>h1,
h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 32px;
    text-align: center;
    line-height: 60px;
}

.container-form>h1::before {
    content: "📧";
    display: block;
}

.container-form>h2::before {
    content: "🐅";
    display: block;
}

.form {
    width: 85%;
    max-width: 32rem;
    font-size: 1rem;
}

.form label,
.form input,
.form textarea,
.form button {
    display: block;
    width: 100%;
}

.form label {
    color: #fff;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form input,
.form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea {
    min-height: 13rem;
    resize: none;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    border-color: #09d;
    box-shadow: 0 0 0 3px #4dc8ff;
}

.form button {
    display: block;
    padding: 1rem;
    background: #03a7b9;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover,
.form button:focus {
    outline: none;
    background: #59b8bd;
}

