@charset "UTF-8";

.container-modelo {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vh 40vh 40vh;
    grid-gap: 20px;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
    border: 2px solid #03a7b9;
    background-color: #212224;
}

.container-modelo>h2 {
    color: white;
    text-align: center;
    font-size: 27px;
}

.gabinetes {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img1 {
    max-width: 90%;
    max-height: 90%;
}

.infos>h2 {
    color: white;
    margin-bottom: 10px;
}

.infos>p {
    color: white;
}

.article-sobre {
    color: white;
    font-weight: bolder;
}