@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    .container-contato {
        max-width: 650px;
        padding-top: 30px;
        margin: auto;
    }

    #footer-contato {
        margin-top: 200px;
    }
}