@charset "UTF-8";

@media screen and (min-width: 768px) {

body {
    background: url("imgs/bg_pc.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

}