@charset "UTF-8";

body {
    width: 100%;
    height: 100%;
    background: url("imgs/bg_cell.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

main {
    width: 85vw;
    margin: 0 auto;
}

.article-sobre {
    margin-top: 30px;
    padding: 20px;
    border-radius: 15px;
    text-align: left; 
    border: 2px solid #03a7b9;
    background-color: #212224;
}

.article-sobre>h2 {
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.article-sobre>p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.footer-general {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(41, 41, 41, 0.959);
}

.footer-general>.textof>h3 {
    margin-top: 5px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.footer-general>a {
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.textof {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.seta {
    display: flex;
}

#anchor {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

#back-top {
    display: flex;
    justify-content: center;
    background: #03a7b9;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    font-size: 20px;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
  }
  
  #back-top>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }